<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="MULTIPLAYER ONLY"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 129,99"
	></app-card>
	<app-card
	gameCover="assets/bt-4.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DISC | PS5"
	gamePrice="R$ 269,99"
	></app-card>
	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="FREE WITH PS PLUS"
	gameType="DIGITAL | PS4"
	gamePrice="R$ 0,00"
	></app-card>
	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="EA CLASSICS"
	gameType="DIGITAL | PS3"
	gamePrice="R$ 79,99"
	></app-card>
	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="SINGLE-PLAYER ONLY"
	gameType="DISC | PS4"
	gamePrice="R$ 119,99"
	></app-card>
	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="UBISOFT GREATEST HITS"
	gameType="DIGITAL | PS3"
	gamePrice="R$ 129,99"
	></app-card>

</div>

